@media screen and (max-width: 1020px){

    *flex {
        flex-direction: colums;
    }

    header {
        flex-direction: colums;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    footer {
        text-align: center;
    }
}